<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Задача 3</title>
  </head>
  <body>
    <div id="app"></div>
    {% load static %}
    <script src="{% static "frontend/frontend-b1ee0e3fa05a2d997ec5.js" %}"></script>
  </body>
</html>